<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <!--div a todo para que esté "bajo el control" de vue. 
        Id mismo nombre de la app-->
    <div id="myApp">
        <header></header>
        <nav></nav>
        <section>
            <label for="idNombre">Nombre: </label>
            <input v-model="nombre" id="idNombre" type="text">
            <label for="idApellido">  Apellido: </label>
            <!-- only call `submit` when the `key` is `Enter` -->
            <input @keypress.enter="agregar2" v-model="apellido" id="idApellido" type="text">
            <!-- <button v-on:click="agregar">Agregar</button> -->

            <!-- <img -->

            <ul>
                <!--
                <li>{{lista[0].nombre}} A: {{lista[0].apellido}}</li>
                <br>
                <li>{{lista[1]}}</li>
                <br>
                <li>{{lista[2]}}</li>
                -->
                <li v-for="({nombre, apellido}, index) in lista">
                    <h3 v-if="nombre !== undefined">{{index + 1}} - {{nombre}}</h3>
                    <h4 v-if="apellido !== undefined">{{apellido}}</h4>
                </li>
            </ul>
        </section>
        <footer></footer>
    </div>
    <!--Configurar archivo de vue, en esta parte. Excepción a la regla-->
    <script src="../js/app.js"></script>
</body>

</html>